@font-face {
  font-family: 'Muoto 205tf';
  font-style: normal;
  font-weight: 100 900;
  src: url('/muoto-var.ttf') format('truetype-variations');
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

html,
button {
  cursor: none !important;
  font-family:
    'Muoto 205tf',
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

.logo {
  display: inline-block;
  margin-bottom: 2.5rem;
  width: 200px;
}

.container {
  position: absolute;
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: 'rgb(229,229,229)';
  overflow: 'hidden';
}

.content {
  background: rgb(243, 243, 243);
  border-radius: 0.5rem;
  padding: 9rem 10rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  display: inline-block;
  outline: none;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  padding: 1rem 4.8rem;
  border: 1px solid #fc208a;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 2px 6px -2px rgb(0 0 0 / 37%);
  transition: transform 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #fc208a;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 600;
  position: relative;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

button:active {
  box-shadow: none;
  transform: scale(0.99);
}

.count {
  margin: 0 0 1rem;
  font-weight: 700;
  font-size: 2rem;
  color: #24283b;
}
